/* color palette from <https://github.com/vuejs/theme> */
:root {
  --header-height: 48px;
  --page-title-height: 72px;

  @media (max-width: 768px) {
    --page-title-height: 48px;
  }

  --vt-c-white: oklch(100% 0 0);
  --vt-c-white-soft: oklch(97.91% 0 0);
  --vt-c-white-mute: oklch(96.12% 0 0);

  --vt-c-black: oklch(0% 0 0);
  --vt-c-black-soft: oklch(25.2% 0 0);
  --vt-c-black-mute: oklch(27.68% 0 0);

  --vt-c-indigo: oklch(35.64% 0.0391 248.97);

  --vt-c-accent: oklch(61.528% 0.19605 260.671);

  --vt-c-divider-light-1: oklch(35.62% 0 0 / 0.29);
  --vt-c-divider-light-2: oklch(35.62% 0 0 / 0.12);
  --vt-c-divider-dark-1: oklch(44.59% 0 0 / 0.65);
  --vt-c-divider-dark-2: oklch(44.59% 0 0 / 0.48);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: oklch(35.62% 0 0 / 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: oklch(94.01% 0 0 / 0.64);
}

/* semantic color variables for this project */
html[data-theme='light'] {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-mute: var(--vt-c-text-light-2);
  --color-accent: var(--vt-c-accent);

  --section-gap: 160px;
}

html[data-theme='dark'] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  --color-text-mute: var(--vt-c-text-dark-2);
  --color-accent: var(--vt-c-accent);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

::selection {
  background: var(--color-heading);
  color: var(--color-background);
}

body {
  min-height: 100svh;
  min-width: 320px;
  color: var(--color-text);
  background: var(--color-background);
  transition: all 0.25s;
  line-height: 1.6;
  font-family:
    'futura-pt',
    'Futura',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--color-border-hover) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  margin: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  margin: 0;
  border: none;
  border-radius: 0;
  background: var(--color-border-hover);

  &:hover {
    background: var(--color-text-mute);
  }
}
