@import './base.css';
@import url('https://use.typekit.net/uvu3rvh.css');

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr min(1024px, 100%) 1fr;
  padding-top: var(--header-height);
  min-height: calc(100svh - var(--footer-height));

  & > * {
    grid-column: 2;
  }
}
